.elementor-kit-8{--e-global-color-primary:#6238BD;--e-global-color-secondary:#54595F;--e-global-color-text:#7A7A7A;--e-global-color-accent:#1FB473;--e-global-color-3e3728e:#000000;--e-global-color-e4c0c61:#FFFFFF;--e-global-color-292cb01:#1E1E1E;--e-global-color-88c983c:#F9F9F9;--e-global-typography-primary-font-family:"Calibre";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Calibre";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Calibre";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Calibre";--e-global-typography-accent-font-weight:500;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1300px;}.elementor-widget:not(:last-child){margin-bottom:0px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1025px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:768px;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Calibre';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('https://www.codecomputerlove.com/wp-content/uploads/2020/10/calibre-web-regular.eot');
	src: url('https://www.codecomputerlove.com/wp-content/uploads/2020/10/calibre-web-regular.eot?#iefix') format('embedded-opentype'),
		url('https://www.codecomputerlove.com/wp-content/uploads/2020/10/calibre-web-regular.woff2') format('woff2'),
		url('https://www.codecomputerlove.com/wp-content/uploads/2020/10/calibre-web-regular.woff') format('woff');
}
@font-face {
	font-family: 'Calibre';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('https://www.codecomputerlove.com/wp-content/uploads/2020/10/CalibreWeb-Semibold.eot');
	src: url('https://www.codecomputerlove.com/wp-content/uploads/2020/10/CalibreWeb-Semibold.eot?#iefix') format('embedded-opentype'),
		url('https://www.codecomputerlove.com/wp-content/uploads/2020/10/CalibreWeb-Semibold.woff2') format('woff2'),
		url('https://www.codecomputerlove.com/wp-content/uploads/2020/10/CalibreWeb-Semibold.woff') format('woff');
}
/* End Custom Fonts CSS */